<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>{{web_title}}</title>
    <nav>
        <a href='/login'>Log In</a>
        <a href="/blog">View Posts</a>
        <a href="/new-post">Create a New Post</a>
        <a href="/signup">Create an Account</a>
    </nav>
</head>
<body>
    
    {% block content %}
    {% endblock %}

</body>
</html>