{% extends "base.html" %}

{% block content %}

    <h1><u>Create a New Blog Entry</u></h1>
    <div class="inner">
    <form method='post'>
        <label>Title:
            <input type="text" value="" name="title">{{title}}
        </label>
        <p class="error">{{title_error}}</p>
        <label>Body:
            <input type="text" value="" name="body">{{body}}
        </label>
        <p class="error">{{body_error}}</p>
        <input type="submit" value="submit">
    </form>
    </div>

{% endblock %}